@import "lib/uikit/_vars";
@import "lib/uikit/_fonts";
@import "lib/uikit/_libs";

@import "components/_header";
@import "components/_footer";

body {
  background: #ffffff;
  color: #1d7914;
  font-size: 16px;
  font-family: Tahoma;
  border: none;
  margin-top: 15px;

  h3 {
    span {
      color: #801d34;
    }
  }
  p {
    font-size: 16px;
    color: #41c6ff;
  }
}