@import "lib/uikit/_vars";
@import "lib/uikit/_fonts";
@import "lib/uikit/_libs";

@import "components/_header";
@import "components/_footer";
@import "components/_home";



/*** Animation ***/
.page-transition-enter-active {
  transition: opacity 1s ease-out;
}
.page-transition-enter, .page-transition-leave-to  {
  opacity: 0;
}


/*
.page-transition-enter-active {
     animation: fadeIn .7s;
 }
.page-transition-leave-active {
    animation: fadeIn .7s reverse;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
        color: #e0e0e0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
        color: #959595;
    }
    100% {
        transform: scale(1);
        color: #393939;
    }
}*/